form{
    display: flex;
    flex-direction: column;
    
}
#add-content{
    /* border: 1px solid black; */
   text-align: center;
   padding: 1rem;
   position: sticky;
}

button{
    width: fit-content;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: 2%;
}